* {
    margin:0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.logo img{
    height: 95px;
    width: 95px;
    animation : mymove
}
nav{
    flex: 1; 
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color:#3D3C3C; 
}

p {
    color: #3D3C3C;

}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .container .row{
    padding: 15px 0;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.col_2 {
    flex-basis: 50%;
    min-width: 300px;
    margin-right: 0 100px;
}


.container .col_2 img {
    max-width: 49%;
    float: right;
    margin-right: 30px;

    
}


.col_2 img {
    max-width: 100%;
}

.formules li{
    color: #3D3C3C;
    line-height: 2;
    text-align: justify;
    padding-left: 1em;

}

.col_2 h1 {
    font-size: 38px;
    line-height: 60px;
    margin: 25px 0;
}

.formules .small-container{
    
    max-width: 1200px;
    margin: auto;
    padding-left: 60px;
    padding-right: auto;
}

.formules p{
    font-size: 15.5px;
    text-align: justify;
    line-height: 1.6;
}

.formules .titre{
    margin-top: 100px;
    background-color: #eee5cf;
}
.formules ul {
    padding: 10px 0 0 0;
}


.small-container{
    
    max-width: 900px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.departement .small-container{
    max-width: 1200px;
    margin: auto;
    padding-left: 60px;
    padding-right: auto;
}

.small-container .col_c{
    padding: 0 20px;
}


.btn {
    display: inline-block;
    background: #85AE78;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover {
    background: #3D3C3C;
}

.header {
    background: radial-gradient(#fff, #EEE5CF);

}

.header .row {
    margin-top: 0px;
}

.titre {
    line-height: 60px;
    
    background-color: #85AE78;
}

.titre h4{
    text-align: center;
}
/*
.commande h2 {
    text-align: center;
    padding: 50px 0 0 0; 
}
*/
.col_c {
    flex-basis: 50%;
}
.col_c p{
    line-height: 30px;
}

.commande .col_c p{
    
    min-width: 300px;

}

.commande .row {
    margin-top: 50px;
    
    

}
.col_c img {
    width: 100%;
    
    padding:  0;
    
    
    margin: auto;
    
    
}

.col_c .btn {
    margin-left: 75px;
}

.col_c p strong{
    line-height: 40px;
}

.formules{
    margin: 70px 0;

}
.formules .row{
    max-width: 1080px;
}

.col_3{
    flex-basis: 20%;
    transition: transform 0.5s;
    margin-bottom: 40px;
    margin-top: 30px;
    
    
}

.col_3:hover{
    transform: translateY(-5px);
}



.formules .col_3 h3 {
    text-align: center;
    padding-top: 15px;
    color: #3D3C3C;
}
/*
.formules h2{
    text-align: center;
    margin: 0 0 25px 0;
    padding-bottom: 50px;
}
*/
h2.title {
    text-align: center;
    margin: 0px auto 100px auto;
    padding: 10px 0 0 0;
    position: relative;
    line-height: 60px;

}

h2.title::after{
    content: '';
    background: #88b04b;
    width: 180px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.commande {
    margin-top: 30px;
}
.commande .titre{
    margin: 100px 0 100px 0;
    background-color:#eee5cf;
}

.commande a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
    margin-top: 50px;

}

.departement a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.offre{
    background: radial-gradient(#fff, #EEE5CF);
    margin-top: 80px;
    padding: 30px 0;
}

.offre .col_2 img{

    padding: 75px;
}

small{
    color: #3D3C3C;
}

i {
    color: #88b04b;
}

.temoignages{
    padding-top: 100px;

}

.temoignages .col_3{
    min-width: 250px;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.temoignages .col_3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.temoignages .col_3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #88b04b;
}

.col_3 p{
    margin: 12px 0;
}
.temoignages .col_3 h3{
    font-weight: 600;
    color: #3D3C3C;
    font-size: 16px;
}


.producteurs{
    margin: 100px auto;
}


.col_5 {
    width: 160px;
}

.col_5 img{
    margin-top: 40px;
    width: 100%;
    filter: grayscale(100%);
}

.col_5 img:hover{
    filter: grayscale(0%);
}

/*--------------footer-----------------*/

.footer{
    
    background: #3D3C3C;
    color: #ffffff;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #ffffff;

}

.footer h3{
    color: #88b04b; 
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    max-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}


.footer-col-1{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-4{
    flex-basis: 12%;
}
.footer ul{
    list-style-type: none;
    
}
.footer ul li{
    line-height: 2.5;

}
.app-logo{
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu_icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* ---------- media query for menu -----------*/

/*

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute; 
        top: 70px;
        left: 0; 
        background: #333333;
        width: 100%; 
    }

    nav ul li{
        display: block; 
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff; 
    }

    .menu_icon{
        display: block;
        cursor: pointer;
    }
}*/